@font-face {
  font-family: 'Caeser';
  src: url('/CAESAR.TTF') format('truetype');
}
body {
  height: 100%;
  overflow-y: auto;
  background-image: linear-gradient(to top, #1A3A5D 0%, #4A90E2 100%);
  background-attachment: fixed;
}
